@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-max-width: 1024px;
    --bg-base: #f7f7f9;
    --bg-container: theme(colors.white);
  }

  html {
    font-size: 14px;
    background: var(--bg-base);
  }

  [data-popper-arrow] {
    left: 50%;
    transform: translateX(-50%);
  }
  [data-popper-arrow]:after,
  [data-popper-arrow]:before {
    content: "";
    transform: rotate(45deg);
  }

  [data-popper-arrow],
  [data-popper-arrow]:before {
    background: inherit;
    position: absolute;
    height: 8px;
    width: 8px;
  }

  [role="tooltip"] > [data-popper-arrow]:before {
    border-color: #e5e7eb;
    border-style: solid;
  }

  [role="tooltip"] > [data-popper-arrow]:after {
    border-color: #e5e7eb;
    border-style: solid;
  }

  [data-popper-arrow]:after {
    background: inherit;
    position: absolute;
    height: 9px;
    width: 9px;
  }
}

@layer components {
  .btn-primary {
    @apply cursor-pointer bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-700;
  }
  .btn-secondary {
    @apply cursor-pointer border border-blue-500 bg-white text-blue-500 hover:bg-blue-500 hover:text-white active:bg-blue-600 active:text-white;
  }
  .btn-tertiary {
    @apply bg-gray-100 hover:bg-gray-500 hover:text-white active:bg-gray-600 active:text-white;
  }
  .btn-white {
    @apply bg-white hover:bg-gray-500 hover:text-white active:bg-gray-600 active:text-white;
  }
  .btn-link {
    @apply bg-white hover:bg-gray-100 active:bg-gray-200;
  }
  .btn-m {
    @apply pb-2 pl-5 pr-5 pt-2;
  }
  .btn-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .link {
    @apply text-blue-600 hover:text-blue-800;
  }

  .inputBorder {
    @apply border border-gray-400;
  }

  .tag {
    @apply inline-block whitespace-nowrap rounded-full px-3 py-1;
  }

  .form-x {
    @apply mx-auto max-w-xl px-4;
  }

  .header-link {
    @apply flex cursor-pointer items-center border-b-2 border-transparent p-2 hover:border-[#38CBC3] hover:text-[#38CBC3];
  }

  .errorMessage {
    @apply mt-1 min-h-[1.25rem] text-sm text-red-500;
  }

  .labelAlwaysOnTop + label,
  .input:focus + label,
  .input:not(:placeholder-shown) + label {
    transform: translate(-0.2rem, -1.3rem) scale(0.8);
  }

  .input:focus + label {
    color: rgb(37 99 235 / var(--tw-bg-opacity));
  }
}

@layer utilities {
  .p-container {
    padding: theme(spacing.5);
  }

  .box {
    border-radius: theme(borderRadius.lg);
    background: var(--bg-container);
  }
}
